@import 'lib/mixins';
/* base project styles */

//color scheme:
@blue:#00a0bc; //for links and background
//@blue-bg:#00a0bc; //for links and background
//@blue:#1490c2; //for links and background
@white: #fff;
@black: #000;

//end color scheme

//fonts:

@font-face {
  font-family: 'helveticaneuecyr-bold';
  src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
  src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyr-roman';
  src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
  src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyr-light';
  src: url('../fonts/helveticaneuecyr-light-webfont.eot');
  src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


//fonts mixins
.tnr(@font-size: inherit, @line-height: inherit){font-family: "Times New Roman", Times, serif;  font-size:@font-size; line-height:@line-height; }
.tahoma(@font-size: inherit, @line-height: inherit){font-family: 'Tahoma'; font-size:@font-size; line-height:@line-height; }
.verdana(@font-size: inherit, @line-height: inherit){font-family: 'Verdana'; font-size:@font-size; line-height:@line-height; }
.arial(@font-size: inherit, @line-height: inherit){font-family: 'Arial'; font-size:@font-size; line-height:@line-height; }

.helvetica-bold(@font-size: inherit, @line-height: inherit){font-family: 'helveticaneuecyr-bold', 'Arial', sans-serif, serif; font-size:@font-size; line-height:@line-height; }
.helvetica-roman(@font-size: inherit, @line-height: inherit){font-family: 'helveticaneuecyr-roman', 'Arial', sans-serif, serif; font-size:@font-size; line-height:@line-height; }
.helvetica-light(@font-size: inherit, @line-height: inherit){font-family: 'helveticaneuecyr-roman', 'Arial', sans-serif, serif; font-size:@font-size; line-height:@line-height; }
//end fonts

//layout settings:
@wrap-max-width:1200px;
@wrap-gutter: 45em/@bfz; // em?
@wrap-gutter-outer: 40em/@bfz; // em?
@wrap-gutter-outer_ipad: 10em/@bfz; // em?
@wrap-abs-width: 960;
@wrap-rel-width: 85%;

@touch-menu-width:275em/@bfz;


@bfz: 16px;

//set a base viewport's widths:
@media only screen and (max-width: 1023px) and (min-width: 481px) {

}

//'palm' '(max-width: 480px)',
//'lap' '(min-width: 481px) and (max-width: 1023px)',
//'portable' '(max-width: 1023px)',
//'desk' '(min-width: 1024px)'

@ipad: 1023px;
@tel: 767px;
@iphone: 480px;

html{
  overflow-x: hidden;
}

body{
  width:100%;
  height:100%;

  .helvetica-light(@bfz,1.2);
  color:@black;
  background: @blue;

  position: relative;
  margin-left: 0;
  .transition(margin-left);
}

.wrap{
//  width: @wrap-rel-width;
  padding: 0 @wrap-gutter-outer;
  max-width: @wrap-max-width;
  margin:0 auto;
}


//search media as "@media"

//end layout settings


//common blocks:

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

b, strong {
  font-weight: normal;
  font-family: 'helveticaneuecyr-roman', 'Arial', sans-serif, serif;
}

a{
  text-decoration: none;
  .transition(color);
}

.page-content-wrap{
  padding: 15em/@bfz @wrap-gutter 60em/@bfz;
  background: #fff;
  .box-shadow(0,0,24px,rgba(0,0,0,0.14));
}



//@media:

//******   IPad  *****\\
@media only screen and (max-width: @ipad) {
  body{
    font-size: 14px;
  }
  .wrap{
    padding: 0 @wrap-gutter-outer_ipad;
  }
  .page-content-wrap{
    padding: 15em/@bfz @wrap-gutter-outer_ipad 60em/@bfz;
  }
}
//****** end IPad *****\\

//******   Tel  *****\\
@media only screen and (max-width: @tel) {
  .main-wrap{
    background: @blue;
  }
  .open-touch-menu{
    overflow: hidden;
    body{
      margin-left: -@touch-menu-width;
      position: fixed;
    }
    .touch-menu__wrap{
      right: 0;
      overflow-y: scroll;
    }
    .touch-menu-control{
      .transform(rotate(90deg));
    }
  }
}
//****** end Tel *****\\

//******   IPhone  *****\\
@media only screen and (max-width: @iphone) {
  body{
    background: #fff;
    min-height: 460em/12;
  }
  .page-content-wrap{
    .box-shadow(0,0,0);
  }

  .main-wrap{
    background: #fff;
  }

  .open-touch-menu{
    overflow: hidden;
    body{
      margin-left: -@touch-menu-width;
      position: fixed;
    }
    .touch-menu__wrap{
      right: 0;
      overflow-y: scroll;
    }
    .touch-menu-control{
      .transform(rotate(90deg));
    }
  }
}
//****** end IPhone *****\\


//end common blocks



/* end base project styles */



